<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person by id</title>
</head>
<body style="text-align: center">
    <h4><p th:text="'Id: ' + ${person.getId()}">VALUE</p></h4>
    <h4><p th:text="'Name: ' + ${person.getName()}">VALUE</p></h4>
    <h4><p th:text="'Last Name: ' + ${person.getLastName()}">VALUE</p></h4>
    <h4><p th:text="'Age: ' + ${person.getAge()}">VALUE</p></h4>
    <h4><p th:text="'Email: ' + ${person.getEmail()}">VALUE</p></h4>
    <br><br>
<form th:action="@{/persons}" th:method="GET">
    <input type="submit" value="Назад"/>
</form>

</body>
</html>